[submodule "ai-parrot"]
	path = ai-parrot
	url = https://github.com/tetsunosuke/ai-parrot.git
[submodule "teppen"]
	path = teppen
	url = https://github.com/tetsunosuke/teppen.git
[submodule "career-island"]
	path = career-island
	url = https://github.com/tetsunosuke/career-island.git
[submodule "my-ability-ranking"]
	path = my-ability-ranking
	url = https://github.com/tetsunosuke/my-ability-ranking.git
